@use "./_mixins.scss" as *;

$font-h1-large: 2rem;
$font-h1-small: 1.6rem;

$font-h2-large: 1.5rem;
$font-h2-small: 1rem;

$font-h3-large: 1.2rem;
$font-h3-small: 1rem;

$font-p-large: 1.2rem;
$font-p-small: 1rem;

$outline-width-large: 4px;
$outline-width-small: 3px;
