$text-primary: #ffffff;
$text-dark: #252525;
$text-secondary: #e6e6e6;
$text-disabled: #969696;

$outline: #353535;

$background-primary: #141416;
$background-primary-transparent: #141416d0;

$background-primary-alternative: #101011;
$background-primary-transparent-alternative: #0c0c0ed0;

$background-secondary: #1c1c1f;
$background-secondary-semi-transparent: #1c1c1fc0;
$background-secondary-transparent: #1c1c1f33;

$background-tertiary: #242425;
$background-tertiary-transparent: #242425cc;

$background-quaternary: #0e0d0d;
$background-quaternary-transparent: #0e0d0dcc;

$button-primary-transparent: #2424255b;
$button-primary-transparent-hover: #4f4f535b;
$button-primary-transparent-selected: #1212135b;

$button-accent: #ff176c;
$button-accent-selected: #ff176c;

$accent: #ff176c;
$accent-hover: #ff49a4;

$divider: #171717;
$divider-mid: #222222;
$divider-light: #363636;

$input-background: #111114;
